<!-- <div
  class="px-3 py-3 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start"
>
  <p class="text-start text-3xl font-semibold text-primary-1 mb-1">Author</p>
  <p class="text-gray-700 sm:text-lg justify-center">
    Software Consultant by day, tech wizard by night, I’ve spent years coding my
    way through the mysteries of Angular, .NET, and a few too many cups of
    coffee. From education to entertainment to healthcare, I’m the Swiss Army
    knife of software, tackling everything from debugging to data breaches (and
    probably wishing for a cape at times 🦸🏻‍♂️)
  </p>
</div> -->
