<div class="about-container px-2">
  <div class="content">
    <p class="text-5xl text-primary-1 text-center">ANINDA DHAR</p>
    <p class="details text-primary-1 text-xl justify-center">
      I am a Software Consultant with extensive hands-on experience in immersive
      software development, excelling in both Web & Mobile development
      complemented by expertise in AI. Originating from a gaming passion, my
      journey unfolded through the realms of Software, IT, and cybersecurity.
    </p>

    <p class="details text-primary-1 text-xl justify-center">
      I've actively spearheaded innovative solutions catering to diverse
      industries like education, entertainment, and health, leveraging
      cutting-edge software. My diverse background sharpens my ability to
      navigate complexity, foster collaboration, and consistently deliver
      high-impact solutions in dynamic software ecosystems.
    </p>
  </div>
</div>
