<div
  class="px-3 py-3 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start"
>
  <p class="text-start text-3xl font-semibold text-primary-1 mb-1">Author</p>
  <p class="text-gray-700 sm:text-lg justify-center">
    As a Software Consultant with extensive experience in Web & Mobile
    development and a growing interest in AI, I specialize in building
    transformative software solutions. My career spans Software Engineering, IT,
    and Cybersecurity, with experience across multiple industries including
    education, entertainment, and healthcare.
  </p>

  <p class="text-gray-700 sm:text-lg justify-center">
    With a strong foundation in full-stack development (Angular, .NET), cloud
    platforms (Azure, Firebase), and cybersecurity, I’m focused on delivering
    scalable, secure applications that address real-world challenges and
    leverage the latest technology advancements.
  </p>
</div>
