@use "../../../styles/styles.scss" as g;

:host {
  .about-container {
    display: flex;
    padding: map-get(g.$length, 3);
    background-color: var(--color-light-blue);
    height: 100%;
    align-items: center;

    .content {
      padding: map-get(g.$length, 10);
      align-self: center;

      .hr {
        border: 0;
        height: 5px;
        background-color: white;
      }

      .details {
        font-size: larger;
        color: black;
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    .about-container .content {
      padding: map-get(g.$length, 3);
    }

    .heading {
      display: flex;
      justify-content: center;
    }
  }
}
