<div class="flex fixed w-full bg-blue-200 z-10">
  <div class="text-white items-center justify-start p-3 w-3/4 sm:w-1/4">
    <img
      class="inline-block h-7 w-7 rounded-full ring-2 ring-white"
      src="../../../../assets/images/aninda-animated-remove-bg.png"
      alt=""
    />
    <span class="font-semibold text-xl tracking-tight ml-2 text-primary-1"
      >Aninda Dhar</span
    >
  </div>
  <div class="flex justify-end w-1/4 sm:w-3/4">
    <nav
      class="bg-blue-200 z-10 fixed"
      [ngClass]="
        open ? 'bg-blue-300 h-1/2 sm:h-full w-full sm:w-72' : 'bg-blue-200'
      "
    >
      <div class="flex justify-end">
        <button
          (click)="toggle()"
          class="px-4 py-4 rounded text-primary-1 min-w-10"
        >
          <svg
            class="fill-current h-5 w-5"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        [ngClass]="open ? 'block' : 'hidden'"
        class="w-full mt-auto bg-blue-300 transition-transform"
      >
        <button
          routerLink="/"
          (click)="navToHome()"
          class="w-full text-end text-xl block text-custom-blue-1 hover:text-custom-light-pale"
        >
          <p class="pr-4">Home</p>
        </button>
        <hr class="ml-4" />

        <button
          class="w-full text-end text-xl block text-custom-blue-1 hover:text-custom-light-pale"
          (click)="navToProjects()"
        >
          <p class="pr-4">Projects</p>
        </button>
        <hr class="ml-4" />

        <button
          class="w-full text-end text-xl block text-custom-blue-1 hover:text-custom-light-pale"
        >
        <p class="pr-4">Blogs</p>
        </button>
      </div>
    </nav>
  </div>
</div>
