@use  "styles" as g;

:host {
  .header-container {
    display: flex;
    background-color: var(--color-dark-violet);
    width: 100%;

    .section-1 {
      flex: 4.5;
    }

    .section-2 {
      padding: map-get(g.$length, 3);
      flex: 5.5;
    }
  
  }
}

@media (max-width: 768px) {
  :host .header-container {
      flex-direction: column; 
    
      .section-1 .section-2 {
        flex: none;
      }
  }
}
