@use "styles" as g;
:host {
  .contact-container {
    background-color: var(--color-dark-violet);
    padding: map-get(g.$length, 9);
    .contact-section {
      height: auto;
      display: flex;
      padding: map-get(g.$length, 9);
      align-items: center;
      .left,
      .right {
        height: 100%;
      }

      .left {
        display: flex;
        justify-content: center;
        flex: 2;

        .img {
          display: flex;
          justify-content: flex-end;
          height: 400px;
          width: 500px;
        }
      }

      .right {
        display: flex;
        margin: map-get(g.$length, 9);
        flex-direction: column;
        justify-content: center;
        align-items: start;
        flex: 2;

        .heading {
          color: var(--color-almond);
        }

        .content {
          background-color: var(--color-dark-violet);
          border: 2px solid var(--color-almond);
          width: 100%;
          padding: map-get(g.$length, 5);
          justify-content: center;
          align-self: self-start;

          .button {
            padding: map-get(g.$length, 2) map-get(g.$length, 7);
            width: auto;
            background-color: var(--color-almond);

            a {
              color: var(--color-dark-violet);
            }
          }

          .details{
            display: flex;
            flex-direction: column;
            color: var(--color-almond);
            padding-top: map-get(g.$length, 5);

            .more-details{
              display: flex;
              flex-direction: column;
              margin: map-get(g.$length, 2);
              padding: map-get(g.$length, 2);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    .contact-container {
      padding: map-get(g.$length, 1);

      .contact-section {
        padding: map-get(g.$length, 3);
        flex-direction: column;

        .left .img{
          width: 95%;
          height: auto;
        }

        .right {
          margin: map-get(g.$length, 2);
        }

        .right .content{
          padding: map-get(g.$length, 2);
        }
      }
    }
  }
}
