<div class="px-3 gap-1 sm:flex-col pb-3 sm:items-center sm:justify-start">
  <p
    class="text-start text-2xl lg:text-3xl 3xl:text-5xl font-semibold text-primary-1"
  >
    Let's Connect and Collaborate!
  </p>

  <div class="flex-col justify-center items-center md:grid md:grid-cols-2">
    <img
      src="../../../../assets/images/handover-1.png"
      class="w-auto h-auto col-span-1"
    />
    <div class="flex flex-col">
      <p
        class="text-lg lg:text-lg xl:text-xl 3xl:text-3xl font-normal text-pretty tracking-wide"
      >
        Thank you for scrolling this far! If you're ready to take the next step
        in this journey, I’d love to hear from you. Feel free to reach out via
        <a href="mailto:aninda400@gmail.com">email</a>.
      </p>
      <p class="text-primary-1 pb-1 text-2xl lg:text-3xl font-semibold">
        Interested in my resume?
      </p>
      <p
        class="text-lg lg:text-lg xl:text-xl 3xl:text-3xl font-normal text-pretty tracking-wide"
      >
        I’ve tailored my resume to showcase my skills and experiences. Download
        it now to see how I can contribute to your team.
      </p>
      <div class="flex justify-start items-center group">
        <a
          type="button"
          class="font-semibold no-underline hover:no-underline max-w-64 text-custom-light-pale custom-transition-nav bg-custom-primary-1 hover:bg-transparent hover:text-custom-primary-1 button-outline mt-2"
          href="../../../../assets/files/Aninda_Dhar_ResumeDec2024.pdf"
          download="Aninda_Dhar_Resume"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</div>
