<div class="contact-container">
  <div class="contact-section">
    <div class="left">
      <img class="img" src="../../../../assets/images/work-with-me.png" />
    </div>
    <div class="right">
      <h1 class="display-3 heading">{{ contactData.contact.heading }}</h1>

      <div class="content">
        <h1 class="heading">{{ contactData.contact.thanks }}</h1>

        <div class="details">
          <button type="button" class="button" download>
            <a
              class="link"
              href="../../../../assets/files/Aninda_Dhar_ResumeDec2023.pdf"
              download="Aninda_Dhar_Resume_Dec23">
              {{ contactData.contact.download }}</a
            >
          </button>
          <div class="more-details">
            <p><b>Phone</b> {{ contactData.contact.phone }}</p>
            <p><b>Email</b> {{ contactData.contact.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
