<!-- Dad joke -->
<div class="mt-4 flex-col items-center justify-start gap-1">
  <div class="flex justify-start items-center">
    <span class="text-primary-1 pb-1 mb-0 text-xl lg:text-2xl font-semibold">
      Wanna hear a joke?
    </span>
    <img
      src="../../../../assets/icons/stars.png"
      alt=""
      class="h-6 w-6 self-center ml-1"
    />
  </div>
  @if(showButton) {
  <div class="group">
    <button class="button-outline" (click)="getJoke()">
      <span
        class="text-custom-primary-1 group-hover:text-custom-light-pale text-xl font-semibold self-start pb-1"
      >
        Yes
      </span>
    </button>
  </div>
  }@else { @if (!dadJoke) {
  <div role="status" class="max-w-sm animate-pulse">
    <p>Generating...</p>
    <div
      class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"
    ></div>
    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
    <span class="sr-only">Loading...</span>
  </div>

  } @else {
  <p>{{ dadJoke.attachments[0].text }}</p>
  <div class="group">
    <button class="button-outline" (click)="getJoke()">
      <span
        class="text-custom-primary-1 group-hover:text-custom-light-pale text-xl font-semibold self-start pb-1"
      >
        One more!
      </span>
    </button>
  </div>
  } }
</div>
