<div class="flex items-center justify-between">
  <div
    class="flex flex-col sm:grid sm:grid-cols-2 px-3 mb-8"
    [ngClass]="{ 'sm:grid-cols-3': imgLeft }"
  >
    @if(imgLeft){
    <div class="col-span-1 flex items-center justify-center">
      <img
        [src]="img"
        class="h-auto w-auto"
      />
    </div>
    } @if(!imgLeft){
    <div class="flex col-span-1 sm:hidden items-center justify-center">
      <img
        [src]="img"
        class="h-auto w-auto"
      />
    </div>
    }

    <div class="col-span-1" [ngClass]="{ 'sm:col-span-2': imgLeft }">
      <p
        class="mb-2 text-2xl lg:text-3xl 3xl:text-5xl font-semibold tracking-tight text-primary-1">
        {{ heading }}
      </p>
      <p
        class="text-md lg:text-lg xl:text-xl font-normal"
        [innerHTML]="content1"></p>
      <p
        class="text-md lg:text-lg xl:text-xl font-normal"
        [innerHTML]="content2"></p>
    </div>
    @if(!imgLeft){
    <div class="hidden col-span-1 sm:flex items-start justify-center">
      <img
        [src]="img"
        class="h-auto w-auto"
      />
    </div>
    }
  </div>
</div>
