@use "../../../styles/styles.scss" as g;

:host {
  .exp-container {
    color: var(--color-primary);
    padding: map-get(g.$length, 9);
    background-color: var(--color-light-black);

    .heading {
      display: flex;
      justify-content: center;
    }

    .hr {
      border: 0;
      height: 5px;
      background-color: white;
    }

    .conclusion {
      font-weight: bold;
      font-style: italic;
    }
  }
}
