<div class="exp-container">
  <h1 class="display-3 heading">{{ data.exp.heading }}</h1>
  <hr class="hr" />

  <div class="card-container">
    <div class="exp-card" *ngFor="let item of cardData">
      <h5 class="h5">{{ item.heading }}</h5>
      <p class="lead">{{ item.summary }}</p>
      <ul class="list-unstyled">
        <li *ngFor="let detail of item.details">{{ detail }}</li>
      </ul>
      <button class="button" (click)="openExpDetails(item.id)">{{ data.common.read_more }}</button>
    </div>
  </div>
</div>
