@use "../../../styles/styles.scss" as g;

:host {
  .exp-container {
    padding: map-get(g.$length, 3);
    background-color: azure;
    border: 1px solid darkgray;
    border-radius: map-get(g.$length, 3);
  }
}
