<div class="h-full">
  <div
    class="bg-blue-200 xl:p-10 scrollbar-thin h-screen overflow-y-scroll scrollbar-thumb-custom-blue-1 scrollbar-track-blue-200"
  >
    <div class="flex-col justify-center items-center mt-20 xl:mt-10">
      <div class="px-8">
        <!-- <div
          class="w-full bg-inherit ml-10 mb-14 px-3 py-3 text-left text-primary-1 break-words max-w-md rounded border-2 border-custom-primary-1"
        >
          <div class="pl-3">
            <p class="mx-auto text-2xl font-semibold">Jump to Content</p>
            <ul class="mt-2 list-disc pl-10">
              <li>
                <a
                  class="block hover:bg-gray-200 hover:cursor-pointer px-2 py-1 rounded"
                  >Introduction</a
                >
              </li>
            </ul>
          </div>
        </div> -->
        <ol
          class="md:ml-5 relative border-s border-gray-200 dark:border-gray-700"
        >
          <app-project-timeline-card
            title="Full-Stack Developer"
            company="Chamonix"
            industry="Technology"
            summary="The customer required a full-stack solution to facilitate a DevOps survey distribution to clients, ensuring efficient data retrieval and seamless display on the user interface."
            contributionSummary="Aninda was brought onto the project to uphold high-quality standards, driving the project towards successful delivery with a focus on maintainability and future adaptability."
            [keyBenefits]="[
              'Developed a robust, scalable, and maintainable solution, ensuring long-term usability and reliability.',
              'Enabled the product to be easily adapted for other client engagements, enhancing the overall value proposition.',
              'Significantly improved client engagement turnover, providing actionable insights into the client\'s current DevOps practices.'
            ]"
            [badges]="[
              'Angular',
              '.NETCore',
              'Azure SQL Database',
              'Yaml pipelines',
              'Azure',
              'Azure DevOps board'
            ]"
          />

          <app-project-timeline-card
            title="Ionic Developer & Release Manager"
            industry="Education"
            company="Chamonix"
            summary="Aninda served as a Developer & Release Manager in the Education industry, focusing on delivering impactful and high-quality solutions that met client expectations and enhanced their operational efficiency."
            contributionSummary="Aninda played a critical role in the project, balancing technical development with release management responsibilities. He ensured that features were delivered on time while maintaining high standards of quality and project visibility, contributing to the overall success of the client engagement."
            [keyBenefits]="[
              'Successfully developed and delivered high-quality features, resulting in a high client satisfaction rate and consistently meeting tight project deadlines.',
              'Managed the release pipeline for both Google Play Console and App Store Connect, ensuring smooth, timely, and error-free app deployments.',
              'Collaborated with the Pre-Sales team to plan and estimate backlog items, continuously delivering value that enhanced client satisfaction and engagement.',
              'Created and managed backlog items on the Azure DevOps board, maintaining task visibility and progress tracking to ensure alignment with customer expectations.'
            ]"
            [badges]="['Ionic', 'Angular', 'Figma', 'Azure']"
          />

          <app-project-timeline-card
            title="Developer"
            industry="Health"
            company="Chamonix"
            summary="Aninda worked as a developer in the Health industry, specializing in delivering high-quality frontend web solutions using Angular, consistently meeting project timelines and client expectations."
            contributionSummary="Aninda played an essential role in the project by driving the development of crucial features, leading refactoring efforts, and ensuring the delivery of high-standard, well-tested solutions that met the client\'s needs in the health industry."
            [keyBenefits]="[
              'Contributed significantly to the development of critical business features in an Angular project, enhancing functionality and supporting key business processes in the health sector.',
              'Led code refactoring initiatives that improved the project\'s overall code quality, maintainability, and performance.',
              'Delivered high-quality solutions within tight deadlines, focusing on seamless functionality and enhancing the user experience.',
              'Conducted comprehensive unit testing to ensure the reliability and robustness of the solutions, minimizing defects and ensuring a smooth end-user experience.'
            ]"
            [badges]="['Angular', 'Azure']"
          />

          <app-project-timeline-card
            title="Project Lead - Software Developer"
            industry="HR Management"
            company="Chamonix"
            summary="Aninda was tasked with designing, organizing, and developing a streamlined procedure to migrate all existing Early Careers Program boards from Trello to Microsoft Planner, enhancing overall productivity and collaboration."
            contributionSummary="Aninda played a pivotal role in the migration project by leading the planning and execution of the Trello to Microsoft Planner transition. His contributions ensured a seamless migration experience, enhanced security, and optimized the overall process to meet the Early Careers Program\’s needs."
            [keyBenefits]="[
              'Led a strategic migration project to transition Early Careers Program boards from Trello to Microsoft Planner, significantly improving team collaboration and workflow efficiency.',
              'Conducted thorough research, analysis, and documentation of program requirements to ensure a seamless and successful migration process.',
              'Collaborated closely with the product owner to define critical data migration criteria, ensuring the smooth transfer of essential information.',
              'Implemented robust testing, debugging, and fault correction processes, adhering to established quality standards and ensuring the reliability of the migration.',
              'Developed and maintained program code in line with company standards, meeting all system requirements and technical specifications.',
              'Spearheaded continuous improvement and delivery strategies, optimizing system design and streamlining the software development process during migration.',
              'Secured data with Microsoft security protocols, including encryption, decryption, and security analysis to safeguard against unauthorized threats.',
              'Proactively identified and mitigated risks affecting performance and security throughout the product lifecycle.'
            ]"
            [badges]="['Typescript', 'Microsoft Graph API']"
          />

          <app-project-timeline-card
            title="Software Developer"
            industry="OpenAI"
            company="Chamonix"
            summary="Aninda contributed to the development of an internal ChatGPT-like web application for the Chamonix AI project, revolutionizing smart data querying processes by leveraging company data and advanced AI tools."
            contributionSummary="Aninda played a critical role in the Chamonix AI project, utilizing a blend of technical skills, UI development, and strategic planning to create a powerful internal web application. His efforts streamlined data processes, improved user engagement, and supported the project\’s overall success."
            [keyBenefits]="[
              'Automated data flow using Power Automate to seamlessly transfer data from SharePoint to Azure Blob storage, significantly improving data management and accessibility.',
              'Utilized Azure AI Studio as a core investigative tool, connecting data sources through Azure Blob storage to perform initial data analysis with multiple parameters.',
              'Excelled in UI development, creating a visually appealing and intuitive web application with custom-designed icons, buttons, and models to enhance the user experience.',
              'Enhanced knowledge sharing and collaboration by documenting the entire process on Azure DevOps Wikis, providing future guidance and accessibility for fellow developers.',
              'Developed robust application logic, ensuring seamless functionality and an optimal user experience across the web application’s diverse components.',
              'Spearheaded continuous improvement and delivery strategies, optimizing system design and streamlining the software development process during migration.',
              'Secured data with Microsoft security protocols, including encryption, decryption, and security analysis to safeguard against unauthorized threats.',
              'Proactively identified and mitigated risks affecting performance and security throughout the product lifecycle.'
            ]"
            [badges]="[
              'Angular',
              'Angular material',
              'PrimeNg',
              'Azure AI',
              'Azure Blob Storage'
            ]"
          />

          <app-project-timeline-card
            title="Software Tester"
            company="Chamonix"
            industry="State - Education"
            summary="Aninda served as a Software Tester, showcasing his expertise in testing methodologies, test planning, and test suite creation to ensure comprehensive and efficient testing processes that elevated the overall quality of the project."
            contributionSummary="Aninda played a pivotal role in the project as a Software Tester, applying his technical skills and strategic insights to drive testing excellence. His contributions ensured high-quality, stable releases and fostered a collaborative environment that aligned client expectations with testing outcomes."
            [keyBenefits]="[
              'Expertly applied testing methodologies and planning, creating detailed test suites that ensured comprehensive coverage and efficient testing workflows.',
              'Conducted extensive application testing across multiple devices using industry-leading tools like BrowserStack, significantly reducing bugs and enhancing production build stability.',
              'Ensured high accessibility standards by conducting thorough assessments to guarantee that applications were accessible to a diverse range of users.',
              'Managed testing and automated deployment processes using Azure Board pipelines, optimizing the delivery pipeline and ensuring smooth, reliable application rollouts.'
            ]"
            [badges]="[
              'BrowserStack',
              'Azure Application Insights',
              'Manual testing'
            ]"
          />

          <app-project-timeline-card
            title="Junior Programmer"
            industry="Software & IT Services"
            company="Enabled"
            summary="Aninda worked as a junior developer, directly assisting his supervisor in solving real-time problems and delivering high-quality solutions, contributing to the success of various company projects."
            contributionSummary="Aninda played a critical role as a junior developer, demonstrating strong problem-solving skills and technical proficiency. He worked under the guidance of his supervisor, driving project success through active client engagement, innovative solutions, and a commitment to quality."
            [keyBenefits]="[
              'Collaborated closely with the manager to proficiently handle PHP and Symfony applications, enhancing system resilience and ensuring consistent client stability and satisfaction.',
              'Led the integration of innovative functionalities into company projects by leveraging React and TypeScript, significantly improving user experiences and expanding project capabilities.',
              'Successfully managed multiple projects, engaging directly with clients to resolve issues and manage support tickets in close collaboration with the manager.',
              'Managed testing and automated deployment processes using Azure Board pipelines, optimizing the delivery pipeline and ensuring smooth, reliable application rollouts.'
            ]"
            [badges]="['React', 'PHP', 'Symfony']"
          />

          <app-project-timeline-card
            title="IT Helpdesk"
            industry="Event Production"
            company="Novatech"
            summary="Aninda worked on enhancing the Windows experience and developed a comprehensive time tracking software flow for the entire business, focusing on optimizing system performance and improving internal processes."
            contributionSummary="Aninda played a key role in improving the Windows environment and optimizing business processes through his technical skills and innovative approach. His contributions to creating a time tracking system and implementing advanced Microsoft 365 solutions greatly enhanced operational efficiency and productivity."
            [keyBenefits]="[
              'Improved the Windows 11 user experience by creating a Windows 11 Pro image using Microsoft Deployment Toolkit and optimizing Active Directory Group Policy Objects for enhanced performance and security.',
              'Conducted extensive hardware stress tests and performance benchmarking, ensuring newly imaged machines met suitability standards and documenting all changes for future reference.',
              'Developed a time tracking software flow that enabled precise billing of client project hours, streamlining time management and billing accuracy across the business.',
              'Implemented Microsoft 365 tools, including SharePoint Lists and Power Automate Flow, for efficient asset management, significantly improving IT servicing tasks and enhancing asset identification within the helpdesk department.'
            ]"
            [badges]="['Microsoft Power Automate', 'Group Policy', 'M365']"
          />

          <app-project-timeline-card
            title="Cyber security intern"
            industry="Energy"
            company="DPDC"
            summary="Aninda worked closely with the penetration testing team to ensure user data safety and security, playing a crucial role in the organization’s cybersecurity efforts across various industries."
            contributionSummary="Aninda played a key role in improving the Windows environment and optimizing business processes through his technical skills and innovative approach. His contributions to creating a time tracking system and implementing advanced Microsoft 365 solutions greatly enhanced operational efficiency and productivity."
            [keyBenefits]="[
              'Improved the Windows 11 user experience by creating a Windows 11 Pro image using Microsoft Deployment Toolkit and optimizing Active Directory Group Policy Objects for enhanced performance and security.',
              'Conducted extensive hardware stress tests and performance benchmarking, ensuring newly imaged machines met suitability standards and documenting all changes for future reference.',
              'Developed a time tracking software flow that enabled precise billing of client project hours, streamlining time management and billing accuracy across the business.',
              'Implemented Microsoft 365 tools, including SharePoint Lists and Power Automate Flow, for efficient asset management, significantly improving IT servicing tasks and enhancing asset identification within the helpdesk department.'
            ]"
            [badges]="['Microsoft Power Automate', 'Group Policy', 'M365']"
          />
        </ol>
      </div>
    </div>
  </div>
</div>
