<div class="flex items-center justify-between w-full px-3">
  <div class="sm:grid md:grid-cols-2 xl:grid-cols-3">
    <div class="col-span-1">
      <img
        src="../../../../assets/images/aninda-animated-remove-bg.png"
        class="h-auto w-auto"
      />
    </div>
    <div
      class="w-full col-span-1 xl:col-span-2 flex flex-col justify-center items-start md:pl-5 lg:pl-10 xl:pl-36"
    >
      <p class="text-3xl xl:text-5xl font-semibold text-primary-1 text-start">
        Howdy, my name is
      </p>
      <p class="text-3xl xl:text-6xl font-extrabold text-primary-1 text-start">
        Aninda
      </p>

      <!-- <div class="flex justify-start items-center mb-3 sm:mb-2">
        <img src="../../../../assets/icons/location.svg" class="h-6 w-6 mr-1" />
        <a
          class="text-lg font-medium text-primary-1 no-underline hover:underline"
          href="https://en.wikipedia.org/wiki/Adelaide"
          target="_blank"
          >Adelaide, SA</a
        >
      </div> -->
      <app-dad-jokes></app-dad-jokes>
    </div>
  </div>
</div>
