<div class="w-full ">
  <div class="md:grid md:grid-cols-2 flex flex-col items-center justify-center">
    <div class="col-span-1">
      <img
        src="../../../../assets/images/aninda-animated-remove-bg.png"
        class="md:pr-5 h-auto w-auto"
      />
    </div>
    <div
      class="w-full col-span-1 flex flex-col justify-center items-center sm:items-start md:pl-5 lg:pl-10"
    >
      <p class="text-3xl xl:text-5xl font-semibold text-primary-1 text-start">
        Howdy, my name is
      </p>
      <p class="text-3xl xl:text-6xl font-extrabold text-primary-1 text-start">
        Aninda
      </p>
      <app-dad-jokes></app-dad-jokes>
    </div>
  </div>
</div>
