<div class="sm:pl-14 mt-20 flex-col justify-end">
  <div class="flex justify-center items-center">
    <img
      src="../../../../assets/images/aninda-animated-remove-bg.png"
      class="h-auto min-w-60"
    />
  </div>
  <div class="flex items-center justify-center ">
    <div class="xl:pl-6 2xl:pl-8 px-4 py-4">
      <h1 class="text-3xl md:text-4xl lg:text-4xl text-primary-1 text-start">Aninda Dhar</h1>
      <p class="text-2xl text-secondary-1 text-start">Software Consultant</p>
      <p class="text-md text-primary-1 text-start mb-3">
        Full-Stack Developer | Web & Mobile | Angular | .Net | Azure | Firebase
      </p>
    </div>
  </div>
  
</div>
