<div class="dialog">
  <div class="header">
    <h1 mat-dialog-title>{{ jobDetails.heading }}</h1>
    <img
      *ngIf="!isMobile"
      [mat-dialog-close]="true"
      src="../../../../assets/icons/close-icon.svg"
      height="25px"
      width="25px"
      aria-label="Close dialog"
    />
  </div>
  <div>
    <ul>
      <li *ngFor="let details of detailsArray">{{ details.value }}</li>
    </ul>
    <p class="lead">{{ jobDetails.conclusion }}</p>
    <div *ngIf="isMobile" class="centre-content">
      <button class="button" [mat-dialog-close]="true">Close</button>
    </div>
  </div>
</div>
