<div class="dialog">
  <div class="header">
    <h2 mat-dialog-title>{{ jobDetails.heading }}</h2>
    <img
      [mat-dialog-close]="true"
      src="../../../../assets/icons/close-icon.svg"
      height="25px"
      width="25px"
      aria-label="Close dialog"
    />
  </div>
  <mat-dialog-content>
    <p class="lead">
      {{ jobDetails.summary }}
    </p>
<!-- 
    <ul>
      @for(detail of jobDetails.details | keyvalue){
      <li>
      </li> 
      }
    </ul> -->
  </mat-dialog-content>
</div>
