<div
  class="px-3 py-3 gap-1 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start md:mt-20"
>
  <p class="text-start text-3xl lg:text-6xl font-semibold text-primary-1">
    My way of working
  </p>
  <p class="text-md lg:text-lg xl:text-xl font-normal">
    My approach to software development is a blend of attention to details,
    excellent communication, and a deep understanding of the underlying
    technologies. I believe in creating products that not only solve problems
    but also enhance the user experience.
  </p>
</div>
<div>
  <app-method-working-card
    heading="Attention to details"
    content1="When it comes to attention to detail, I don’t just see the big picture—I perfect every <b>pixel</b>. Whether it’s crafting seamless code, designing user-friendly interfaces, or ensuring data integrity, my meticulous approach ensures that nothing slips through the cracks."
    content2="I believe even the smallest elements hold immense power to elevate the whole, and I thrive on delivering polished, error-free solutions that leave a lasting impression. Every line of code I write and every component I build is a testament to my commitment to excellence and precision."
    img="../../../../assets/images/attention-details.png"
  />

  <app-method-working-card
    heading="Excellent communication"
    content1="
    Excellent communication is at the heart of everything I do, bridging the gap between ideas and execution. I take pride in fostering clear, open dialogues with clients, ensuring their vision is fully understood and brought to life with precision."
    content2="Whether explaining complex technical concepts in simple terms or collaborating with team members to troubleshoot challenges, I’m skilled at tailoring my communication style to connect effectively with diverse audiences. This proactive approach not only keeps projects on track but also builds trust and confidence in every partnership."
    img="../../../../assets/images/excellent-comms.png"
    [imgLeft]="true"
  />

  <app-method-working-card
    heading="Turning Visions into Reality"
    content1="Bringing my client’s dreams to life is more than a job—it’s my passion. I excel at transforming abstract ideas into tangible, impactful solutions that align perfectly with their vision."
    content2="By diving deep into their goals and understanding their needs, I create tailored strategies that ensure every project is a true reflection of their aspirations. Whether it’s crafting sleek user interfaces or developing robust backend systems, I focus on building solutions that inspire and deliver beyond expectations."
    img="../../../../assets/images/vision-reality.png"
  />
</div>
