<div
  class="px-3 py-3 gap-1 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start md:mt-20"
>
  <p class="text-start text-2xl lg:text-3xl 3xl:text-5xl font-semibold text-primary-1">
    Development Approach
  </p>
  <p class="text-lg lg:text-lg xl:text-xl font-normal 3xl:text-3xl text-pretty">
    Passionate software developer with a focus on detail, seamless
    communication, and innovation. I craft solutions that solve problems,
    enhance user experiences, and transform ideas into <b>impactful, functional
    products.</b>
  </p>
</div>
<div>
  <app-method-working-card
    class="mt-5"
    heading="Attention to details"
    content1="I excel in attention to detail, perfecting every <b>pixel</b> and ensuring nothing slips through the cracks. From seamless code to user-friendly designs and data integrity, my meticulous approach delivers polished, <b>error-free</b> solutions that leave a lasting impression. Each line of code and every component reflects my commitment to <b>excellence</b> and <b>precision.</b>"
    img="../../../../assets/images/attention-details.png"
  />

  <app-method-working-card
    heading="Excellent communication"
    content1="
    I prioritize excellent communication to bridge the gap between <b>ideas</b> and <b>execution</b>. By fostering clear, open dialogues, I ensure clients' visions are understood and brought to life with precision. Whether simplifying technical concepts or collaborating with teams, I tailor my communication to connect effectively, keeping projects on track and building trust in every <b>partnership.</b>"
    img="../../../../assets/images/excellent-comms.png"
    [imgLeft]="true"
  />

  <app-method-working-card
    heading="Turning Visions into Reality"
    content1="Transforming clients' dreams into impactful solutions is my <b>passion</b>. I specialize in turning abstract ideas into tangible <b>results</b> that align with their vision. By deeply understanding their goals, I craft tailored strategies to ensure each project reflects their aspirations. From sleek user interfaces to robust backend systems, I deliver solutions that inspire and <b>exceed</b> expectations."
    img="../../../../assets/images/vision-reality.png"
  />
</div>
