<div
  class="px-3 py-3 gap-1 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start"
>
  <p class="text-start text-5xl font-semibold text-primary-1">
    My way of working
  </p>
</div>
<div>
  <app-method-working-card
    heading="Attention to details"
    content1="When it comes to attention to detail, I don’t just see the big picture—I perfect every <b>pixel</b>. Whether it’s crafting seamless code, designing user-friendly interfaces, or ensuring data integrity, my meticulous approach ensures that nothing slips through the cracks."
    content2="I believe even the smallest elements hold immense power to elevate the whole, and I thrive on delivering polished, error-free solutions that leave a lasting impression. Every line of code I write and every component I build is a testament to my commitment to excellence and precision."
    img="../../../../assets/images/lamp-pc.png"
  />

  <app-method-working-card
    heading="Attention to details"
    content1="When it comes to attention to detail, I don’t just see the big picture—I perfect every <b>pixel</b>. Whether it’s crafting seamless code, designing user-friendly interfaces, or ensuring data integrity, my meticulous approach ensures that nothing slips through the cracks."
    content2="I believe even the smallest elements hold immense power to elevate the whole, and I thrive on delivering polished, error-free solutions that leave a lasting impression. Every line of code I write and every component I build is a testament to my commitment to excellence and precision."
    img="../../../../assets/images/lamp-pc.png"
    [imgLeft]="true"
  />

  <app-method-working-card
    heading="Attention to details"
    content1="When it comes to attention to detail, I don’t just see the big picture—I perfect every <b>pixel</b>. Whether it’s crafting seamless code, designing user-friendly interfaces, or ensuring data integrity, my meticulous approach ensures that nothing slips through the cracks."
    content2="I believe even the smallest elements hold immense power to elevate the whole, and I thrive on delivering polished, error-free solutions that leave a lasting impression. Every line of code I write and every component I build is a testament to my commitment to excellence and precision."
    img="../../../../assets/images/lamp-pc.png"
  />
</div>
