
.full-screen-modal {
  padding: 0 !important;
}

.heading {
  display: flex;
  justify-content: center;
}

.hr {
  border: 0;
  height: 5px;
  background-color: white;
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}