// src/styles/_variables.scss

// Color Scheme
$color-pastel: #efe9e4;
$color-dark-green: #5e6855;

$color-light-gray: #a6a6a6;
$color-dark-gray: #6e6767;

:root {
  --color-primary: #e2e2e2;
  --color-pastel: #efe9e4;
  --color-dark-green: #5e6855;

  --color-light-gray: #a6a6a6;
  --color-dark-gray: #6e6767;

  --color-light-black: #2b2b2b;

  --color-dark-black: #1b1418;

  --color-light-blue: #b1d4e0;

  --color-purple: #555972;
  --color-light-blue: #979dc2;
  --color-medium-blue: #6f73d2;
  --color-indigo: #9295dd;
  --color-cadet-gray: #819595;
}
