<div
  class="content px-4 py-3 gap-1 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start"
>
  <p class="text-start text-2xl text-primary-1">Experience</p>

  <div
    class="max-w-sm p-6 bg-primary-1 border-2 rounded-md shadow-sm hover:bg-custom-light-pale hover:border-custom-light-gray"
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-primary-1 cursor-pointer"
    >
      Chamonix IT - A Synechron Company
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      As a full-stack developer with a focus on Angular/React and .NET, I've delivered
      scalable solutions across various industries. I've led projects, managed
      releases, and ensured code quality through refactoring, testing, and
      automation.
    </p>
    <button
      class="inline-flex items-center border-2 px-3 py-2 text-sm font-medium text-center text-primary-1 hover:border-custom-light-gray rounded-md  focus:ring-4 focus:outline-none focus:ring-blue-300"
    >
      Read more
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </button>
  </div>
</div>
