<div
  class="px-3 pt-3 gap-1 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start "
>
  <p class="text-start text-3xl font-semibold text-primary-1">Projects</p>
  <div class="sm:gap-4">
    <app-project-card
      (click)="navToProjects()"
      title="Full-Stack Developer / Technology"
      img="../../../../assets/images/project-1.png"
      summary="The customer required a full-stack solution to facilitate a DevOps assessment distribution to clients, ensuring efficient data retrieval and seamless display on the user interface."
      company="Chamonix"
    />
    <app-project-card
      (click)="navToProjects()"
      title="Ionic Angular Developer & Release Manager / Education"
      img="../../../../assets/images/project-2.png"
      summary="Served as a Developer & Release Manager in the Education industry, focusing on delivering impactful and high-quality solutions that met client expectations and enhanced their operational efficiency."
      company="Chamonix"
    />
    <app-project-card
      (click)="navToProjects()"
      title="Developer / Health"
      img="../../../../assets/images/projects-coding-tools.png"
      summary="Worked as a developer in the Health industry, specializing in delivering high-quality frontend web solutions using Angular, consistently meeting project timelines and client expectations."
      company="Chamonix"
    />
  </div>
  <div class="inline-flex custom-transition group">
    <p
      (click)="navToProjects()"
      class="cursor-pointer no-underline text-primary-1 lg:text-xl font-semibold group-hover:text-blue-800 hover:no-underline"
    >
      View all Projects
    </p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      class="fill-custom-primary-1 duration-300 group-hover:fill-blue-800"
    >
      <path
        d="M680-320v-360H320v-80h440v440h-80ZM480-120v-360H120v-80h440v440h-80Z"
      />
    </svg>
  </div>
</div>
