<div
  class="content px-4 py-3 gap-1 sm:flex-col sm:px-0 sm:py-0 sm:items-center sm:justify-start"
>
  <p class="text-start text-2xl text-primary-1">Experience</p>
  <div class="sm:gap-4">
    <app-experience-card
      title="Chamonix - A Synechron Company"
      companyLink="https://chamonix.com.au/"
      summary="As a full-stack developer with a focus on Angular/React and .NET, I've
                delivered scalable solutions across various industries. I've led
                projects, managed releases, and ensured code quality through
                refactoring, testing, and automation."
      [badges] = "['Angular','Ionic','Azure', 'Tailwind', '.NET', 'BrowserStack', 'SQL']"
    />

    <app-experience-card
      title="Enabled"
      companyLink="https://www.enabled.com.au/"
      summary="Collaborated with the manager to maintain client systems using PHP and
                Symfony, while developing features for projects with React and
                TypeScript. Handled multiple client tickets, ensuring timely resolutions
                across various projects."
      [badges] = "['React','Symfony','PHP','TypeScript']"
      
    />

    <app-experience-card
      title="Novatech Creative Event Technology"
      companyLink="https://www.ncet.co/"
      summary="Enhanced company services by testing Windows 11, creating a Pro image, and updating GPOs. Performed hardware testing, built time-tracking software, and automated IT asset servicing tasks with Power Automate. Updated SharePoint lists for asset documentation."
      [badges] = "['Microsoft Power Automate', 'Group Policy', 'Microsoft Deployment Toolkit']"

      />
  </div>
</div>
