@use "../../../../styles.scss" as g;

:host {
    .content-container {
        background-color: azure;
        padding: map-get(g.$length, 3);
        margin: 0 map-get(g.$length, 3);
    }
}

@media (max-width: 768px) {
    :host .content-container {
        margin:  map-get(g.$length, 3) 0;
    }
}