<div class="h-full">
  <div
    class="bg-blue-200 scrollbar-thin h-screen overflow-y-scroll scrollbar-thumb-custom-blue-1 scrollbar-track-blue-200"
  >
    <div
      class="flex flex-col justify-center items-center md:px-8 lg:px-20 xl:px-56 2xl:px-72 3xl:px-96"
    >
      <!-- Profile Section -->
      <div class="mt-20 flex justify-center w-full md:px-0 px-3">
        <app-profile class="w-full"></app-profile>
      </div>

      <!-- Content Section -->
      <div class="w-full flex flex-col">
        <app-how-i-work></app-how-i-work>
        <app-display-projects></app-display-projects>
        <app-contact-me></app-contact-me>
      </div>
    </div>
  </div>
</div>
