<div class="h-full">
  <div
    class="flex flex-col justify-center items-center md:px-8 lg:px-20 xl:px-56 2xl:px-72 3xl:px-96"
  >
    <!-- Profile Section -->
    <div class="mt-20 flex justify-center w-full md:px-0 px-3 mb-4 md:mb-0">
      <app-profile class="w-full"></app-profile>
    </div>

    <!-- Content Section -->
    <div class="w-full flex flex-col">
      <app-how-i-work></app-how-i-work>
      <app-display-projects></app-display-projects>
      <app-contact-me></app-contact-me>
    </div>

    <!-- Chat PopUp -->
    <div class="fixed bottom-3 right-4">
      <a
        type="button"
        href="mailto:aninda400@gmail.com"
        class="group no-underline hover:no-underline w-auto gap-1 h-auto rounded-lg custom-transition-nav shadow-lg flex items-center justify-center px-2 py-1 hover:bg-custom-primary-1 bg-blue-100 border-2 border-custom-primary-1 text-custom-primary-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#433878"
          class="h-8 w-8 group-hover:fill-custom-light-pale"
        >
          <path
            d="M880-80 720-240H320q-33 0-56.5-23.5T240-320v-40h440q33 0 56.5-23.5T760-440v-280h40q33 0 56.5 23.5T880-640v560ZM160-473l47-47h393v-280H160v327ZM80-280v-520q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v280q0 33-23.5 56.5T600-440H240L80-280Zm80-240v-280 280Z"
          />
        </svg>
        <span
          class="hidden lg:block text-primary-1 pb-1 text-2xl lg:text-2xl font-semibold group-hover:text-custom-light-pale"
          >Contact</span
        >
      </a>
    </div>
  </div>
</div>
