<div class="sm:flex hover:white">
  <li class="mb-10 ms-1">
    <span
      class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white"
    >
      <svg
        class="w-2.5 h-2.5 text-blue-800"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
        />
      </svg>
    </span>
    <div class="flex flex-col sm:flex-row sm:items-center justify-start">
      <h3
        class="mb-1 text-xl lg:text-2xl font-semibold text-primary-1 group custom-transition-mini"
      >
        <a
          class="no-underline text-primary-1 hover:no-underline"
          target="_blank"
        >
          {{ title }}
        </a>
      </h3>
      @if(industry){
      <div class="flex justify-start items-center text-wrap">
        <span
          class="bg-blue-100 w-auto text-green-800 text-sm lg:text-lg font-semibold sm:me-2 sm:ms-4 px-2.5 py-1.5 sm:py-0.5 rounded flex items-center text-wrap"
        >
          <img
            src="../../../../../assets/icons/factory.svg"
            alt="Factory Icon"
            class="w-5 h-5"
          />
          {{ industry }}
        </span>
      </div>
      }
    </div>
    <p class="mb-4 text-md lg:text-xl font-normal text-gray-800">
      {{ summary }}
    </p>
    <cdk-accordion class="example-accordion sm:hidden">
      <cdk-accordion-item
        #accordionItem="cdkAccordionItem"
        class="example-accordion-item"
        role="button"
        tabindex="0"
      >
        <div
          class="example-accordion-item-header"
          (click)="accordionItem.toggle()"
        >
          <button
            class="flex items-center justify-center px-3 py-1 border-[1px] rounded-md border-custom-primary-1"
          >
            <span class="text-lg font-medium text-primary-1">Learn More</span>
            <img
              class="self-end"
              [src]="
                accordionItem.expanded
                  ? '../../../../../assets/icons/arrow-up.svg'
                  : '../../../../../assets/icons/arrow-down.svg'
              "
            />
          </button>
        </div>
        <div
          class="example-accordion-item-body mb-2"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
        >
          <div class="p-2 mt-2">
            <h3 class="text-primary-1 text-pretty">Roles and Contributions</h3>
            {{ contributionSummary }}

            <h3 class="mt-4 text-primary-1 text-pretty">Key Benefits</h3>
            <ul class="list-disc">
              @for (item of keyBenefits; track $index) {
              <li>{{ item }}</li>
              }
            </ul>

            <h3 class="mt-4 text-primary-1 text-pretty">Technologies</h3>
            <div class="flex flex-wrap gap-2">
              @for (item of badges; track $index) {
              <span
                class="bg-blue-100 text-blue-800 text-sm lg:text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
                >{{ item }}</span
              >
              }
            </div>
          </div>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
    <div class="hidden sm:block">
      <h3 class="text-primary-1 text-pretty">Roles and Contributions</h3>
      {{ contributionSummary }}

      <h3 class="mt-4 text-primary-1 text-pretty">Key Benefits</h3>
      <ul class="list-disc">
        @for (item of keyBenefits; track $index) {
        <li>{{ item }}</li>
        }
      </ul>

      <h3 class="mt-4 text-primary-1 text-pretty">Technologies</h3>
      <div class="flex flex-wrap gap-2">
        @for (item of badges; track $index) {
        <span
          class="bg-blue-100 text-blue-800 text-sm lg:text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
          >{{ item }}</span
        >
        }
      </div>
    </div>
  </li>
</div>
